lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swo
*.swp

pids
logs
results

node_modules/*
!node_modules/amity-mongodb
!node_modules/feathers-mongo-collections
!node_modules/feathers-mongo-databases
npm-debug.log

config.js
admins.json
bower_components
