@import "../../../styles/variables.less";
@import "../../../styles/mixins.less";


left-sidebar {
	display: block;

  .user-profile-container{
    background-color: @AdminProfileBg;
    .user-profile{
      display: table;
      width: 100%;
      & > div{
        display: table-cell;
        vertical-align: middle;
      }
      .admin-user-thumb{
        width: 48px;
        height: 48px;
        padding: 15px 0px 15px 15px;
        img{
          width: 48px;
          height: 48px;
          .rounded(100%);
        }
      }
      .admin-user-info{
        padding: 15px 15px 10px;
        color:@AdminInfoColor;
        ul{
          padding: 0px;
          margin: 0px;
          list-style: none;
          li{
            line-height: normal;
            a{
              color:@AdminInfoColor;
              &:hover,
              &:focus{
                text-decoration: none;
                color:@LinkColor;
              }
            }
          }
        }
      }
    }
    .admin-bar{
      text-align: center;
      padding: 0;
      ul{
        padding: 0px;
        margin: 0px;
        display: flex;
        li{
          list-style: none;
          display: inline-block;
          flex-grow: 1;
          //Admin Profile Bar Icons
          a{
            position: relative;
            width: 100%;
            height: 42px;
            display: inline-block;
            color:@AdminProfileIconColor;
            text-align: center;
            &:hover,
            &:focus{
              text-decoration: none;
              color:@LinkColor;
              background-color: @AdminProfileIconBg;
              .rounded(4px)
            }
            &.active{
              text-decoration: none;
              background-color: #2c2c31;
              color:@LinkColor;
            }
            i{
              height: 42px;
              width: 100%;
              display: inline-block;
              line-height: 42px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  
  .leftbar{
    width: @LeftBarWidth;
    background-color: @LeftBarBg;
    overflow: scroll;
    position: fixed;
    z-index: 8;
    top: @TopBarHeight;
    bottom: 0;
    &.material-leftbar{
      background-color: #fff;
      .z-depth(1);
      .user-profile-container{
        background: #4fa49a; /* Old browsers */
        background: -moz-linear-gradient(45deg,  #4fa49a 0%, #4361c2 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#4fa49a), color-stop(100%,#4361c2)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(45deg,  #4fa49a 0%,#4361c2 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(45deg,  #4fa49a 0%,#4361c2 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(45deg,  #4fa49a 0%,#4361c2 100%); /* IE10+ */
        background: linear-gradient(45deg,  #4fa49a 0%,#4361c2 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fa49a', endColorstr='#4361c2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        .user-profile{
          .admin-user-info{
            color:@AdminInfoColor;
            ul{
              li{
                a{
                  color:#fff;
                  &:hover,
                  &:focus{
                    color:@LinkColor;
                  }
                }
              }
            }
          }
        }
        .admin-bar{
          ul{
            li{
                a{
                color:#fff;
                &:hover,
                &:focus{
                  color:@LinkColor;
                  background-color: @AdminProfileIconBg;
                }
              }
            }
          }
        }
      }
      .list-accordion{
        .list-title{
          background-color: #fff;
          border-top:0px;
          border-bottom: rgba(000,000,000,.08) 1px solid;
          font-weight: @SemiBold;
          color: @ListTitleColor;
          .label{
            position: relative;
            font-size: 12px;
            top: -1px;
            font-weight: @SemiBold;
          }
        }
        li{
          ul{
            li{
              a{
                color: @ListAccorColor;
                &:hover,
                &:focus{
                  color: @LinkColor;
                }
              }
            }
          }
        }
        & > li{
          & > a {
            background-color: #fff;
            color: @ListAccorColor;
            &.acc-parent{
              &.active{
                background-color: rgba(000,000,000,.05);
                color: @ThemeColor;
              }
            }
            &:hover,
            &:focus{
              background-color: rgba(000,000,000,.05);
              color: @LinkColor;
            }
            &:before {
              background: #ccc;
            }

          }
        }
      }
    }
  }
}