table tr td.collapse{
  width:1%;
  white-space:nowrap;
}

@media (max-width: 768px) {
  table tr td:first-child, table tr th:first-child{
    display: none;
  }
}

table tr td:nth-child(2) > a{
  font-weight:bold;
}
table tr td:nth-child(2) > input{
  font-weight:bold;
  padding:0;
  margin:0;
  line-height:0;
  background:none;
  border:none;
}
.table-tools a{
  margin-left:8px;
}
.table-tools .delete-button{
  /*width:0;*/
  display:inline-block;
  overflow:hidden;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

td a.btn-edit-collection{
  margin-left:5px;
  opacity:0;  /* make things invisible upon start */
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
td:hover a.btn-edit-collection{
  opacity:1;
}
