/* * * Query Builder * * */
div.query-wrapper{
  margin:8px 0 16px;
}
div.query-wrapper form{
  background: white;
}
div.query-wrapper .query{
  padding: 13px 12px 13px 32px;
  font-weight: 400;
  font-size:16px;
  font-family: monospace;
  text-indent: -16px;
  background: black;
  color: white;
}
div.query-wrapper button.btn-primary{
  margin:0;
}
div.query-wrapper .query-options{
  list-style: none;
  padding: 5px 0 0 16px;
  margin:0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style:none;
}
div.query-wrapper .query-options li{
  padding: 1px 6px;
  display: inline-block;
  border: solid 1px #FFF;
  cursor: pointer;
}
div.query-wrapper .query-options li:not(.active):hover{
  background:#EEE;
  border: solid 1px #EEE;
}
div.query-wrapper .query-options li.active{
  background:lightgray;
  border:solid 1px lightgray;
}
div.query-wrapper .query-block{
  margin-left:-10px;
}
div.query-wrapper .editable{
  border-bottom:dashed 1px gray;
  color: white;
  font-weight: 500;
  text-align: center;
  padding: 0 7px;
}
div.query-wrapper .editable.params{
  text-align:left;
  padding-left:20px;
  display: inline-block;
  min-width: 130px;
}

.records-summary{
  margin-top:32px;
  padding-left:8px;
  font-size:16px;
}
