/* Google Material Design Colors */

/* * * RED BACKGROUNDS * * */
.material-page.red .bg-50 { background: #FFEBEE !important; color:rgba(0,0,0,0.87) } .material-page.red .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.red .bg-100{ background: #FFCDD2 !important; color:rgba(0,0,0,0.87) } .material-page.red .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.red .bg-200{ background: #EF9A9A !important; color:rgba(0,0,0,0.87) } .material-page.red .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.red .bg-300{ background: #E57373 !important; color:rgba(0,0,0,0.87) } .material-page.red .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.red .bg-400{ background: #EF5350 !important; color:rgba(0,0,0,0.87) } .material-page.red .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.red .bg-500{ background: #F44336 !important; }
.material-page.red .bg-600{ background: #E53935 !important; }
.material-page.red .bg-700{ background: #D32F2F !important; }
.material-page.red .bg-800{ background: #C62828 !important; }
.material-page.red .bg-900{ background: #B71C1C !important; }
.material-page.red .bg-a100{ background: #FF8A80 !important; }
.material-page.red .bg-a200{ background: #FF5252 !important; }
.material-page.red .bg-a300{ background: #FF1744 !important; }
.material-page.red .bg-a400{ background: #D50000 !important; }
.material-page.red .nav-sidebar > .active > a, .material-page.red .nav-sidebar > .active > a:hover, .material-page.red .nav-sidebar > .active > a:focus { color: #fff; background-color: #F44336; }
.material-page.red .nav-pills>li.active>a, .material-page.red .nav-pills>li.active>a:hover, .material-page.red .nav-pills>li.active>a:focus{ color: #fff; background-color: #F44336; }
.material-page.red .nav-pills>li>a:hover{ color:#F44336; background-color: white; }
.material-page.red .tile-inner:not(.plain){ background-color: #E57373; }

/* * * RED TEXT * * */
.material-page.red .text-50 { color: #FFEBEE !important; }
.material-page.red .text-100{ color: #FFCDD2 !important; }
.material-page.red .text-200{ color: #EF9A9A !important; }
.material-page.red .text-300{ color: #E57373 !important; }
.material-page.red .text-400{ color: #EF5350 !important; }
.material-page.red .text-500{ color: #F44336 !important; }
.material-page.red .text-600{ color: #E53935 !important; }
.material-page.red .text-700{ color: #D32F2F !important; }
.material-page.red .text-800{ color: #C62828 !important; }
.material-page.red .text-900{ color: #B71C1C !important; }
.material-page.red .text-a100{ background: #FF8A80 !important; }
.material-page.red .text-a200{ background: #FF5252 !important; }
.material-page.red .text-a300{ background: #FF1744 !important; }
.material-page.red .text-a400{ background: #D50000 !important; }
.material-page.red div.query-wrapper .editable{color:#D32F2F;}
.material-page.red div.query{color:#EF9A9A;}


/* * * PINK BACKGROUNDS * * */
.material-page.pink .bg-50 { background: #FCE4EC !important; color:rgba(0,0,0,0.87) } .material-page.pink .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.pink .bg-100{ background: #F8BBD0 !important; color:rgba(0,0,0,0.87) } .material-page.pink .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.pink .bg-200{ background: #F48FB1 !important; color:rgba(0,0,0,0.87) } .material-page.pink .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.pink .bg-300{ background: #F06292 !important; color:rgba(0,0,0,0.87) } .material-page.pink .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.pink .bg-400{ background: #EC407A !important; color:rgba(0,0,0,0.87) } .material-page.pink .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.pink .bg-500{ background: #E91E63 !important; }
.material-page.pink .bg-600{ background: #D81B60 !important; }
.material-page.pink .bg-700{ background: #C2185B !important; }
.material-page.pink .bg-800{ background: #AD1457 !important; }
.material-page.pink .bg-900{ background: #880E4F !important; }
.material-page.pink .bg-a100{ background: #FF80AB !important; }
.material-page.pink .bg-a200{ background: #FF4081 !important; }
.material-page.pink .bg-a300{ background: #F50057 !important; }
.material-page.pink .bg-a400{ background: #C51162 !important; }
.material-page.pink .nav-sidebar > .active > a, .material-page.pink .nav-sidebar > .active > a:hover, .material-page.pink .nav-sidebar > .active > a:focus { color: #fff; background-color: #E91E63; }
.material-page.pink .nav-pills>li.active>a, .material-page.pink .nav-pills>li.active>a:hover, .material-page.pink .nav-pills>li.active>a:focus{ color: #fff; background-color: #E91E63; }
.material-page.pink .nav-pills>li>a:hover{ color:#E91E63; background-color: white; }
.material-page.pink .tile-inner:not(.plain){ background-color: #F06292; }

/* * * PINK TEXT * * */
.material-page.pink .text-50 { color: #FCE4EC !important; }
.material-page.pink .text-100{ color: #F8BBD0 !important; }
.material-page.pink .text-200{ color: #F48FB1 !important; }
.material-page.pink .text-300{ color: #F06292 !important; }
.material-page.pink .text-400{ color: #EC407A !important; }
.material-page.pink .text-500{ color: #E91E63 !important; }
.material-page.pink .text-600{ color: #D81B60 !important; }
.material-page.pink .text-700{ color: #C2185B !important; }
.material-page.pink .text-800{ color: #AD1457 !important; }
.material-page.pink .text-900{ color: #880E4F !important; }
.material-page.pink .text-a100{ background: #FF80AB !important; }
.material-page.pink .text-a200{ background: #FF4081 !important; }
.material-page.pink .text-a300{ background: #F50057 !important; }
.material-page.pink .text-a400{ background: #C51162 !important; }
.material-page.pink div.query{color:#F48FB1;}


/* * * PURPLE BACKGROUNDS * * */
.material-page.purple .bg-50 { background: #F3E5F5 !important; color:rgba(0,0,0,0.87) } .material-page.purple .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.purple .bg-100{ background: #E1BEE7 !important; color:rgba(0,0,0,0.87) } .material-page.purple .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.purple .bg-200{ background: #CE93D8 !important; color:rgba(0,0,0,0.87) } .material-page.purple .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.purple .bg-300{ background: #BA68C8 !important; color:rgba(0,0,0,0.87) } .material-page.purple .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.purple .bg-400{ background: #AB47BC !important; color:rgba(0,0,0,0.87) } .material-page.purple .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.purple .bg-500{ background: #9C27B0 !important; }
.material-page.purple .bg-600{ background: #8E24AA !important; }
.material-page.purple .bg-700{ background: #7B1FA2 !important; }
.material-page.purple .bg-800{ background: #6A1B9A !important; }
.material-page.purple .bg-900{ background: #4A148C !important; }
.material-page.purple .bg-a100{ background: #EA80FC !important; }
.material-page.purple .bg-a200{ background: #E040FB !important; }
.material-page.purple .bg-a300{ background: #D500F9 !important; }
.material-page.purple .bg-a400{ background: #AA00FF !important; }
.material-page.purple .nav-sidebar > .active > a, .material-page.purple .nav-sidebar > .active > a:hover, .material-page.purple .nav-sidebar > .active > a:focus { color: #fff; background-color: #9C27B0; }
.material-page.purple .nav-pills>li.active>a, .material-page.purple .nav-pills>li.active>a:hover, .material-page.purple .nav-pills>li.active>a:focus{ color: #fff; background-color: #9C27B0; }
.material-page.purple .nav-pills>li>a:hover{ color:#9C27B0; background-color: white; }
.material-page.purple .tile-inner:not(.plain){ background-color: #BA68C8; }

/* * * PURPLE TEXT * * */
.material-page.purple .text-50 { color: #F3E5F5 !important; }
.material-page.purple .text-100{ color: #E1BEE7 !important; }
.material-page.purple .text-200{ color: #CE93D8 !important; }
.material-page.purple .text-300{ color: #BA68C8 !important; }
.material-page.purple .text-400{ color: #AB47BC !important; }
.material-page.purple .text-500{ color: #9C27B0 !important; }
.material-page.purple .text-600{ color: #8E24AA !important; }
.material-page.purple .text-700{ color: #7B1FA2 !important; }
.material-page.purple .text-800{ color: #6A1B9A !important; }
.material-page.purple .text-900{ color: #4A148C !important; }
.material-page.purple .text-a100{ background: #EA80FC !important; }
.material-page.purple .text-a200{ background: #E040FB !important; }
.material-page.purple .text-a300{ background: #D500F9 !important; }
.material-page.purple .text-a400{ background: #AA00FF !important; }
.material-page.purple div.query{color:#CE93D8;}


/* * * DEEP PURPLE BACKGROUNDS * * */
.material-page.deep-purple .bg-50 { background: #EDE7F6 !important; color:rgba(0,0,0,0.87) } .material-page.deep-purple .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.deep-purple .bg-100{ background: #D1C4E9 !important; color:rgba(0,0,0,0.87) } .material-page.deep-purple .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.deep-purple .bg-200{ background: #B39DDB !important; color:rgba(0,0,0,0.87) } .material-page.deep-purple .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.deep-purple .bg-300{ background: #9575CD !important; color:rgba(0,0,0,0.87) } .material-page.deep-purple .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.deep-purple .bg-400{ background: #7E57C2 !important; color:rgba(0,0,0,0.87) } .material-page.deep-purple .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.deep-purple .bg-500{ background: #673AB7 !important; }
.material-page.deep-purple .bg-600{ background: #5E35B1 !important; }
.material-page.deep-purple .bg-700{ background: #512DA8 !important; }
.material-page.deep-purple .bg-800{ background: #4527A0 !important; }
.material-page.deep-purple .bg-900{ background: #311B92 !important; }
.material-page.deep-purple .bg-a100{ background: #B388FF !important; }
.material-page.deep-purple .bg-a200{ background: #7C4DFF !important; }
.material-page.deep-purple .bg-a300{ background: #651FFF !important; }
.material-page.deep-purple .bg-a400{ background: #6200EA !important; }
.material-page.deep-purple .nav-sidebar > .active > a, .material-page.deep-purple .nav-sidebar > .active > a:hover, .material-page.deep-purple .nav-sidebar > .active > a:focus { color: #fff; background-color: #673AB7; }
.material-page.deep-purple .nav-pills>li.active>a, .material-page.deep-purple .nav-pills>li.active>a:hover, .material-page.deep-purple .nav-pills>li.active>a:focus{ color: #fff; background-color: #673AB7; }
.material-page.deep-purple .nav-pills>li>a:hover{ color:#673AB7; background-color: white; }
.material-page.deep-purple .tile-inner:not(.plain){ background-color: #9575CD; }

/* * * DEEP PURPLE TEXT * * */
.material-page.deep-purple .text-50 { color: #EDE7F6 !important; }
.material-page.deep-purple .text-100{ color: #D1C4E9 !important; }
.material-page.deep-purple .text-200{ color: #B39DDB !important; }
.material-page.deep-purple .text-300{ color: #9575CD !important; }
.material-page.deep-purple .text-400{ color: #7E57C2 !important; }
.material-page.deep-purple .text-500{ color: #673AB7 !important; }
.material-page.deep-purple .text-600{ color: #5E35B1 !important; }
.material-page.deep-purple .text-700{ color: #512DA8 !important; }
.material-page.deep-purple .text-800{ color: #4527A0 !important; }
.material-page.deep-purple .text-900{ color: #311B92 !important; }
.material-page.deep-purple .text-a100{ background: #B388FF !important; }
.material-page.deep-purple .text-a200{ background: #7C4DFF !important; }
.material-page.deep-purple .text-a300{ background: #651FFF !important; }
.material-page.deep-purple .text-a400{ background: #6200EA !important; }
.material-page.deep-purple div.query{color:#B39DDB;}


/* * * INDIGO BACKGROUNDS * * */
.material-page.indigo .bg-50 { background: #E8EAF6 !important; color:rgba(0,0,0,0.87) } .material-page.indigo .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.indigo .bg-100{ background: #C5CAE9 !important; color:rgba(0,0,0,0.87) } .material-page.indigo .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.indigo .bg-200{ background: #9FA8DA !important; color:rgba(0,0,0,0.87) } .material-page.indigo .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.indigo .bg-300{ background: #7986CB !important; color:rgba(0,0,0,0.87) } .material-page.indigo .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.indigo .bg-400{ background: #5C6BC0 !important; color:rgba(0,0,0,0.87) } .material-page.indigo .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.indigo .bg-500{ background: #3F51B5 !important; }
.material-page.indigo .bg-600{ background: #3949AB !important; }
.material-page.indigo .bg-700{ background: #303F9F !important; }
.material-page.indigo .bg-800{ background: #283593 !important; }
.material-page.indigo .bg-900{ background: #1A237E !important; }
.material-page.indigo .bg-a100{ background: #8C9EFF !important; }
.material-page.indigo .bg-a200{ background: #536DFE !important; }
.material-page.indigo .bg-a300{ background: #3D5AFE !important; }
.material-page.indigo .bg-a400{ background: #304FFE !important; }
.material-page.indigo .nav-sidebar > .active > a, .material-page.indigo .nav-sidebar > .active > a:hover, .material-page.indigo .nav-sidebar > .active > a:focus { color: #fff; background-color: #3F51B5; }
.material-page.indigo .nav-pills>li.active>a, .material-page.indigo .nav-pills>li.active>a:hover, .material-page.indigo .nav-pills>li.active>a:focus{ color: #fff; background-color: #3F51B5; }
.material-page.indigo .nav-pills>li>a:hover{ color:#3F51B5; background-color: white; }
.material-page.indigo .tile-inner:not(.plain){ background-color: #7986CB; }

/* * * INDIGO TEXT * * */
.material-page.indigo .text-50 { color: #E8EAF6 !important; }
.material-page.indigo .text-100{ color: #C5CAE9 !important; }
.material-page.indigo .text-200{ color: #9FA8DA !important; }
.material-page.indigo .text-300{ color: #7986CB !important; }
.material-page.indigo .text-400{ color: #5C6BC0 !important; }
.material-page.indigo .text-500{ color: #3F51B5 !important; }
.material-page.indigo .text-600{ color: #3949AB !important; }
.material-page.indigo .text-700{ color: #303F9F !important; }
.material-page.indigo .text-800{ color: #283593 !important; }
.material-page.indigo .text-900{ color: #1A237E !important; }
.material-page.indigo .text-a100{ background: #8C9EFF !important; }
.material-page.indigo .text-a200{ background: #536DFE !important; }
.material-page.indigo .text-a300{ background: #3D5AFE !important; }
.material-page.indigo .text-a400{ background: #304FFE !important; }
.material-page.indigo div.query{color:#9FA8DA;}



/* * * BLUE BACKGROUNDS * * */
.material-page.blue .bg-50 { background: #E3F2FD !important; color:rgba(0,0,0,0.87) } .material-page.blue .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.blue .bg-100{ background: #BBDEFB !important; color:rgba(0,0,0,0.87) } .material-page.blue .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.blue .bg-200{ background: #90CAF9 !important; color:rgba(0,0,0,0.87) } .material-page.blue .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.blue .bg-300{ background: #64B5F6 !important; color:rgba(0,0,0,0.87) } .material-page.blue .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.blue .bg-400{ background: #42A5F5 !important; color:rgba(0,0,0,0.87) } .material-page.blue .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.blue .bg-500{ background: #2196F3 !important; }
.material-page.blue .bg-600{ background: #1E88E5 !important; }
.material-page.blue .bg-700{ background: #1976D2 !important; }
.material-page.blue .bg-800{ background: #1565C0 !important; }
.material-page.blue .bg-900{ background: #0D47A1 !important; }
.material-page.blue .bg-a100{ background: #82B1FF !important; }
.material-page.blue .bg-a200{ background: #448AFF !important; }
.material-page.blue .bg-a300{ background: #2979FF !important; }
.material-page.blue .bg-a400{ background: #2962FF !important; }
.material-page.blue .nav-sidebar > .active > a, .material-page.blue .nav-sidebar > .active > a:hover, .material-page.blue .nav-sidebar > .active > a:focus { color: #fff; background-color: #2196F3; }
.material-page.blue .nav-pills>li.active>a, .material-page.blue .nav-pills>li.active>a:hover, .material-page.blue .nav-pills>li.active>a:focus{ color: #fff; background-color: #2196F3; }
.material-page.blue .nav-pills>li>a:hover{ color:#2196F3; background-color: white; }
.material-page.blue .tile-inner:not(.plain){ background-color: #64B5F6; }

/* * * BLUE TEXT * * */
.material-page.blue .text-50 { color: #E3F2FD !important; }
.material-page.blue .text-100{ color: #BBDEFB !important; }
.material-page.blue .text-200{ color: #90CAF9 !important; }
.material-page.blue .text-300{ color: #64B5F6 !important; }
.material-page.blue .text-400{ color: #42A5F5 !important; }
.material-page.blue .text-500{ color: #2196F3 !important; }
.material-page.blue .text-600{ color: #1E88E5 !important; }
.material-page.blue .text-700{ color: #1976D2 !important; }
.material-page.blue .text-800{ color: #1565C0 !important; }
.material-page.blue .text-900{ color: #0D47A1 !important; }
.material-page.blue .text-a100{ background: #82B1FF !important; }
.material-page.blue .text-a200{ background: #448AFF !important; }
.material-page.blue .text-a300{ background: #2979FF !important; }
.material-page.blue .text-a400{ background: #2962FF !important; }
.material-page.blue div.query{color:#90CAF9;}


/* * * LIGHT BLUE BACKGROUNDS * * */
.material-page.light-blue .bg-50 { background: #E1F5FE !important; color:rgba(0,0,0,0.87) } .material-page.light-blue .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.light-blue .bg-100{ background: #B3E5FC !important; color:rgba(0,0,0,0.87) } .material-page.light-blue .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.light-blue .bg-200{ background: #81D4FA !important; color:rgba(0,0,0,0.87) } .material-page.light-blue .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.light-blue .bg-300{ background: #4FC3F7 !important; color:rgba(0,0,0,0.87) } .material-page.light-blue .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.light-blue .bg-400{ background: #29B6F6 !important; color:rgba(0,0,0,0.87) } .material-page.light-blue .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.light-blue .bg-500{ background: #03A9F4 !important; }
.material-page.light-blue .bg-600{ background: #039BE5 !important; }
.material-page.light-blue .bg-700{ background: #0288D1 !important; }
.material-page.light-blue .bg-800{ background: #0277BD !important; }
.material-page.light-blue .bg-900{ background: #01579B !important; }
.material-page.light-blue .bg-a100{ background: #80D8FF !important; }
.material-page.light-blue .bg-a200{ background: #40C4FF !important; }
.material-page.light-blue .bg-a300{ background: #00B0FF !important; }
.material-page.light-blue .bg-a400{ background: #0091EA !important; }
.material-page.light-blue .nav-sidebar > .active > a, .material-page.light-blue .nav-sidebar > .active > a:hover, .material-page.light-blue .nav-sidebar > .active > a:focus { color: #fff; background-color: #03A9F4; }
.material-page.light-blue .nav-pills>li.active>a, .material-page.light-blue .nav-pills>li.active>a:hover, .material-page.light-blue .nav-pills>li.active>a:focus{ color: #fff; background-color: #03A9F4; }
.material-page.light-blue .nav-pills>li>a:hover{ color:#03A9F4; background-color: white; }
.material-page.light-blue .tile-inner:not(.plain){ background-color: #4FC3F7; }

/* * * LIGHT BLUE TEXT * * */
.material-page.light-blue .text-50 { color: #E1F5FE !important; }
.material-page.light-blue .text-100{ color: #B3E5FC !important; }
.material-page.light-blue .text-200{ color: #81D4FA !important; }
.material-page.light-blue .text-300{ color: #4FC3F7 !important; }
.material-page.light-blue .text-400{ color: #29B6F6 !important; }
.material-page.light-blue .text-500{ color: #03A9F4 !important; }
.material-page.light-blue .text-600{ color: #039BE5 !important; }
.material-page.light-blue .text-700{ color: #0288D1 !important; }
.material-page.light-blue .text-800{ color: #0277BD !important; }
.material-page.light-blue .text-900{ color: #01579B !important; }
.material-page.light-blue .text-a100{ background: #80D8FF !important; }
.material-page.light-blue .text-a200{ background: #40C4FF !important; }
.material-page.light-blue .text-a300{ background: #00B0FF !important; }
.material-page.light-blue .text-a400{ background: #0091EA !important; }
.material-page.light-blue div.query{color:#81D4FA;}


/* * * CYAN BACKGROUNDS * * */
.material-page.cyan .bg-50 { background: #E0F7FA !important; color:rgba(0,0,0,0.87) } .material-page.cyan .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.cyan .bg-100{ background: #B2EBF2 !important; color:rgba(0,0,0,0.87) } .material-page.cyan .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.cyan .bg-200{ background: #80DEEA !important; color:rgba(0,0,0,0.87) } .material-page.cyan .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.cyan .bg-300{ background: #4DD0E1 !important; color:rgba(0,0,0,0.87) } .material-page.cyan .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.cyan .bg-400{ background: #26C6DA !important; color:rgba(0,0,0,0.87) } .material-page.cyan .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.cyan .bg-500{ background: #00BCD4 !important; }
.material-page.cyan .bg-600{ background: #00ACC1 !important; }
.material-page.cyan .bg-700{ background: #0097A7 !important; }
.material-page.cyan .bg-800{ background: #00838F !important; }
.material-page.cyan .bg-900{ background: #006064 !important; }
.material-page.cyan .bg-a100{ background: #84FFFF !important; }
.material-page.cyan .bg-a200{ background: #18FFFF !important; }
.material-page.cyan .bg-a300{ background: #00E5FF !important; }
.material-page.cyan .bg-a400{ background: #00B8D4 !important; }
.material-page.cyan .nav-sidebar > .active > a, .material-page.cyan .nav-sidebar > .active > a:hover, .material-page.cyan .nav-sidebar > .active > a:focus { color: #fff; background-color: #00BCD4; }
.material-page.cyan .nav-pills>li.active>a, .material-page.cyan .nav-pills>li.active>a:hover, .material-page.cyan .nav-pills>li.active>a:focus{ color: #fff; background-color: #00BCD4; }
.material-page.cyan .nav-pills>li>a:hover{ color:#00BCD4; background-color: white; }
.material-page.cyan .tile-inner:not(.plain){ background-color: #4DD0E1; }

/* * * CYAN TEXT * * */
.material-page.cyan .text-50 { color: #E0F7FA !important; }
.material-page.cyan .text-100{ color: #B2EBF2 !important; }
.material-page.cyan .text-200{ color: #80DEEA !important; }
.material-page.cyan .text-300{ color: #4DD0E1 !important; }
.material-page.cyan .text-400{ color: #26C6DA !important; }
.material-page.cyan .text-500{ color: #00BCD4 !important; }
.material-page.cyan .text-600{ color: #00ACC1 !important; }
.material-page.cyan .text-700{ color: #0097A7 !important; }
.material-page.cyan .text-800{ color: #00838F !important; }
.material-page.cyan .text-900{ color: #006064 !important; }
.material-page.cyan .text-a100{ background: #84FFFF !important; }
.material-page.cyan .text-a200{ background: #18FFFF !important; }
.material-page.cyan .text-a300{ background: #00E5FF !important; }
.material-page.cyan .text-a400{ background: #00B8D4 !important; }
.material-page.cyan div.query{color:#80DEEA;}


/* * * TEAL BACKGROUNDS * * */
.material-page.teal .bg-50 { background: #E0F2F1 !important; color:rgba(0,0,0,0.87) } .material-page.teal .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.teal .bg-100{ background: #B2DFDB !important; color:rgba(0,0,0,0.87) } .material-page.teal .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.teal .bg-200{ background: #80CBC4 !important; color:rgba(0,0,0,0.87) } .material-page.teal .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.teal .bg-300{ background: #4DB6AC !important; color:rgba(0,0,0,0.87) } .material-page.teal .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.teal .bg-400{ background: #26A69A !important; color:rgba(0,0,0,0.87) } .material-page.teal .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.teal .bg-500{ background: #009688 !important; }
.material-page.teal .bg-600{ background: #00897B !important; }
.material-page.teal .bg-700{ background: #00796B !important; }
.material-page.teal .bg-800{ background: #00695C !important; }
.material-page.teal .bg-900{ background: #004D40 !important; }
.material-page.teal .bg-a100{ background: #A7FFEB !important; }
.material-page.teal .bg-a200{ background: #64FFDA !important; }
.material-page.teal .bg-a300{ background: #1DE9B6 !important; }
.material-page.teal .bg-a400{ background: #00BFA5 !important; }
.material-page.teal .nav-sidebar > .active > a, .material-page.teal .nav-sidebar > .active > a:hover, .material-page.teal .nav-sidebar > .active > a:focus { color: #fff; background-color: #009688; }
.material-page.teal .nav-pills>li.active>a, .material-page.teal .nav-pills>li.active>a:hover, .material-page.teal .nav-pills>li.active>a:focus{ color: #fff; background-color: #009688; }
.material-page.teal .nav-pills>li>a:hover{ color:#009688; background-color: white; }
.material-page.teal .tile-inner:not(.plain){ background-color: #4DB6AC; }

/* * * TEAL TEXT * * */
.material-page.teal .text-50 { color: #E0F2F1 !important; }
.material-page.teal .text-100{ color: #B2DFDB !important; }
.material-page.teal .text-200{ color: #80CBC4 !important; }
.material-page.teal .text-300{ color: #4DB6AC !important; }
.material-page.teal .text-400{ color: #26A69A !important; }
.material-page.teal .text-500{ color: #009688 !important; }
.material-page.teal .text-600{ color: #00897B !important; }
.material-page.teal .text-700{ color: #00796B !important; }
.material-page.teal .text-800{ color: #00695C !important; }
.material-page.teal .text-900{ color: #004D40 !important; }
.material-page.teal .text-a100{ background: #A7FFEB !important; }
.material-page.teal .text-a200{ background: #64FFDA !important; }
.material-page.teal .text-a300{ background: #1DE9B6 !important; }
.material-page.teal .text-a400{ background: #00BFA5 !important; }
.material-page.teal div.query{color:#80CBC4;}


/* * * GREEN BACKGROUNDS * * */
.material-page.green .bg-50 { background: #E8F5E9 !important; color:rgba(0,0,0,0.87) } .material-page.green .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.green .bg-100{ background: #C8E6C9 !important; color:rgba(0,0,0,0.87) } .material-page.green .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.green .bg-200{ background: #A5D6A7 !important; color:rgba(0,0,0,0.87) } .material-page.green .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.green .bg-300{ background: #81C784 !important; color:rgba(0,0,0,0.87) } .material-page.green .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.green .bg-400{ background: #66BB6A !important; color:rgba(0,0,0,0.87) } .material-page.green .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.green .bg-500{ background: #4CAF50 !important; }
.material-page.green .bg-600{ background: #43A047 !important; }
.material-page.green .bg-700{ background: #388E3C !important; }
.material-page.green .bg-800{ background: #2E7D32 !important; }
.material-page.green .bg-900{ background: #1B5E20 !important; }
.material-page.green .bg-a100{ background: #B9F6CA !important; }
.material-page.green .bg-a200{ background: #69F0AE !important; }
.material-page.green .bg-a300{ background: #00E676 !important; }
.material-page.green .bg-a400{ background: #00C853 !important; }
.material-page.green .nav-sidebar > .active > a, .material-page.green .nav-sidebar > .active > a:hover, .material-page.green .nav-sidebar > .active > a:focus { color: #fff; background-color: #4CAF50; }
.material-page.green .nav-pills>li.active>a, .material-page.green .nav-pills>li.active>a:hover, .material-page.green .nav-pills>li.active>a:focus{ color: #fff; background-color: #4CAF50; }
.material-page.green .nav-pills>li>a:hover{ color:#4CAF50; background-color: white; }
.material-page.green .tile-inner:not(.plain){ background-color: #81C784; }

/* * * GREEN TEXT * * */
.material-page.green .text-50 { color: #E8F5E9 !important; }
.material-page.green .text-100{ color: #C8E6C9 !important; }
.material-page.green .text-200{ color: #A5D6A7 !important; }
.material-page.green .text-300{ color: #81C784 !important; }
.material-page.green .text-400{ color: #66BB6A !important; }
.material-page.green .text-500{ color: #4CAF50 !important; }
.material-page.green .text-600{ color: #43A047 !important; }
.material-page.green .text-700{ color: #388E3C !important; }
.material-page.green .text-800{ color: #2E7D32 !important; }
.material-page.green .text-900{ color: #1B5E20 !important; }
.material-page.green .text-a100{ background: #B9F6CA !important; }
.material-page.green .text-a200{ background: #69F0AE !important; }
.material-page.green .text-a300{ background: #00E676 !important; }
.material-page.green .text-a400{ background: #00C853 !important; }
.material-page.green div.query{color:#A5D6A7;}


/* * * LIGHT GREEN BACKGROUNDS * * */
.material-page.light-green .bg-50 { background: #F1F8E9 !important; color:rgba(0,0,0,0.87) } .material-page.light-green .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.light-green .bg-100{ background: #DCEDC8 !important; color:rgba(0,0,0,0.87) } .material-page.light-green .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.light-green .bg-200{ background: #C5E1A5 !important; color:rgba(0,0,0,0.87) } .material-page.light-green .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.light-green .bg-300{ background: #AED581 !important; color:rgba(0,0,0,0.87) } .material-page.light-green .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.light-green .bg-400{ background: #9CCC65 !important; color:rgba(0,0,0,0.87) } .material-page.light-green .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.light-green .bg-500{ background: #8BC34A !important; }
.material-page.light-green .bg-600{ background: #7CB342 !important; }
.material-page.light-green .bg-700{ background: #689F38 !important; }
.material-page.light-green .bg-800{ background: #558B2F !important; }
.material-page.light-green .bg-900{ background: #33691E !important; }
.material-page.light-green .bg-a100{ background: #CCFF90 !important; }
.material-page.light-green .bg-a200{ background: #B2FF59 !important; }
.material-page.light-green .bg-a300{ background: #76FF03 !important; }
.material-page.light-green .bg-a400{ background: #64DD17 !important; }
.material-page.light-green .nav-sidebar > .active > a, .material-page.light-green .nav-sidebar > .active > a:hover, .material-page.light-green .nav-sidebar > .active > a:focus { color: #fff; background-color: #8BC34A; }
.material-page.light-green .nav-pills>li.active>a, .material-page.light-green .nav-pills>li.active>a:hover, .material-page.light-green .nav-pills>li.active>a:focus{ color: #fff; background-color: #8BC34A; }
.material-page.light-green .nav-pills>li>a:hover{ color:#8BC34A; background-color: white; }
.material-page.light-green .tile-inner:not(.plain){ background-color: #AED581; color:#333; }

/* * * LIGHT GREEN TEXT * * */
.material-page.light-green .text-50 { color: #F1F8E9 !important; }
.material-page.light-green .text-100{ color: #DCEDC8 !important; }
.material-page.light-green .text-200{ color: #C5E1A5 !important; }
.material-page.light-green .text-300{ color: #AED581 !important; }
.material-page.light-green .text-400{ color: #9CCC65 !important; }
.material-page.light-green .text-500{ color: #8BC34A !important; }
.material-page.light-green .text-600{ color: #7CB342 !important; }
.material-page.light-green .text-700{ color: #689F38 !important; }
.material-page.light-green .text-800{ color: #558B2F !important; }
.material-page.light-green .text-900{ color: #33691E !important; }
.material-page.light-green .text-a100{ background: #CCFF90 !important; }
.material-page.light-green .text-a200{ background: #B2FF59 !important; }
.material-page.light-green .text-a300{ background: #76FF03 !important; }
.material-page.light-green .text-a400{ background: #64DD17 !important; }
.material-page.light-green div.query{color:#C5E1A5;}


/* * * LIME BACKGROUNDS * * */
.material-page.lime .bg-50 { background: #F9FBE7 !important; color:rgba(0,0,0,0.87) } .material-page.lime .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.lime .bg-100{ background: #F0F4C3 !important; color:rgba(0,0,0,0.87) } .material-page.lime .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.lime .bg-200{ background: #E6EE9C !important; color:rgba(0,0,0,0.87) } .material-page.lime .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.lime .bg-300{ background: #DCE775 !important; color:rgba(0,0,0,0.87) } .material-page.lime .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.lime .bg-400{ background: #D4E157 !important; color:rgba(0,0,0,0.87) } .material-page.lime .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.lime .bg-500{ background: #CDDC39 !important; }
.material-page.lime .bg-600{ background: #C0CA33 !important; }
.material-page.lime .bg-700{ background: #AFB42B !important; }
.material-page.lime .bg-800{ background: #9E9D24 !important; }
.material-page.lime .bg-900{ background: #827717 !important; }
.material-page.lime .bg-a100{ background: #F4FF81 !important; }
.material-page.lime .bg-a200{ background: #EEFF41 !important; }
.material-page.lime .bg-a300{ background: #C6FF00 !important; }
.material-page.lime .bg-a400{ background: #AEEA00 !important; }
.material-page.lime .nav-sidebar > .active > a, .material-page.lime .nav-sidebar > .active > a:hover, .material-page.lime .nav-sidebar > .active > a:focus { color: #fff; background-color: #CDDC39; }
.material-page.lime .nav-pills>li.active>a, .material-page.lime .nav-pills>li.active>a:hover, .material-page.lime .nav-pills>li.active>a:focus{ color: #fff; background-color: #CDDC39; }
.material-page.lime .nav-pills>li>a:hover{ color:#C0CA33; background-color: white; }
.material-page.lime .tile-inner:not(.plain){ background-color: #DCE775; color:#333; }

/* * * LIME TEXT * * */
.material-page.lime .text-50 { color: #F9FBE7 !important; }
.material-page.lime .text-100{ color: #F0F4C3 !important; }
.material-page.lime .text-200{ color: #E6EE9C !important; }
.material-page.lime .text-300{ color: #DCE775 !important; }
.material-page.lime .text-400{ color: #D4E157 !important; }
.material-page.lime .text-500{ color: #CDDC39 !important; }
.material-page.lime .text-600{ color: #C0CA33 !important; }
.material-page.lime .text-700{ color: #AFB42B !important; }
.material-page.lime .text-800{ color: #9E9D24 !important; }
.material-page.lime .text-900{ color: #827717 !important; }
.material-page.lime .text-a100{ background: #F4FF81 !important; }
.material-page.lime .text-a200{ background: #EEFF41 !important; }
.material-page.lime .text-a300{ background: #C6FF00 !important; }
.material-page.lime .text-a400{ background: #AEEA00 !important; }
.material-page.lime div.query{color:#E6EE9C;}


/* * * YELLOW BACKGROUNDS * * */
.material-page.yellow .bg-50 { background: #FFFDE7 !important; color:rgba(0,0,0,0.87) } .material-page.yellow .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.yellow .bg-100{ background: #FFF9C4 !important; color:rgba(0,0,0,0.87) } .material-page.yellow .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.yellow .bg-200{ background: #FFF59D !important; color:rgba(0,0,0,0.87) } .material-page.yellow .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.yellow .bg-300{ background: #FFF59D !important; color:rgba(0,0,0,0.87) } .material-page.yellow .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.yellow .bg-400{ background: #FFEE58 !important; color:rgba(0,0,0,0.87) } .material-page.yellow .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.yellow .bg-500{ background: #FFEB3B !important; }
.material-page.yellow .bg-600{ background: #FDD835 !important; }
.material-page.yellow .bg-700{ background: #FBC02D !important; }
.material-page.yellow .bg-800{ background: #F9A825 !important; }
.material-page.yellow .bg-900{ background: #F57F17 !important; }
.material-page.yellow .bg-a100{ background: #FFFF8D !important; }
.material-page.yellow .bg-a200{ background: #FFFF00 !important; }
.material-page.yellow .bg-a300{ background: #FFEA00 !important; }
.material-page.yellow .bg-a400{ background: #FFD600 !important; }
.material-page.yellow .nav-sidebar > .active > a, .material-page.yellow .nav-sidebar > .active > a:hover, .material-page.yellow .nav-sidebar > .active > a:focus { color: #fff; background-color: #FFEB3B; }
.material-page.yellow .nav-pills>li.active>a, .material-page.yellow .nav-pills>li.active>a:hover, .material-page.yellow .nav-pills>li.active>a:focus{ color: #fff; background-color: #FFEB3B; }
.material-page.yellow .nav-pills>li>a:hover{ color:#FBC02D; background-color: white; }

/* * * YELLOW TEXT * * */
.material-page.yellow .text-50 { color: #FFFDE7 !important; }
.material-page.yellow .text-100{ color: #FFF9C4 !important; }
.material-page.yellow .text-200{ color: #FFF59D !important; }
.material-page.yellow .text-300{ color: #FFF59D !important; }
.material-page.yellow .text-400{ color: #FFEE58 !important; }
.material-page.yellow .text-500{ color: #FFEB3B !important; }
.material-page.yellow .text-600{ color: #FDD835 !important; }
.material-page.yellow .text-700{ color: #FBC02D !important; }
.material-page.yellow .text-800{ color: #F9A825 !important; }
.material-page.yellow .text-900{ color: #F57F17 !important; }
.material-page.yellow .text-a100{ background: #FFFF8D !important; }
.material-page.yellow .text-a200{ background: #FFFF00 !important; }
.material-page.yellow .text-a300{ background: #FFEA00 !important; }
.material-page.yellow .text-a400{ background: #FFD600 !important; }
.material-page.yellow .tile-inner:not(.plain){ background-color: #FFF59D; color:#444;}
.material-page.yellow div.query{color:#FFF59D;}


/* * * AMBER BACKGROUNDS * * */
.material-page.amber .bg-50 { background: #FFD600 !important; color:rgba(0,0,0,0.87) } .material-page.amber .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.amber .bg-100{ background: #FFECB3 !important; color:rgba(0,0,0,0.87) } .material-page.amber .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.amber .bg-200{ background: #FFE082 !important; color:rgba(0,0,0,0.87) } .material-page.amber .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.amber .bg-300{ background: #FFD54F !important; color:rgba(0,0,0,0.87) } .material-page.amber .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.amber .bg-400{ background: #FFCA28 !important; color:rgba(0,0,0,0.87) } .material-page.amber .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.amber .bg-500{ background: #FFC107 !important; }
.material-page.amber .bg-600{ background: #FFB300 !important; }
.material-page.amber .bg-700{ background: #FFA000 !important; }
.material-page.amber .bg-800{ background: #FF8F00 !important; }
.material-page.amber .bg-900{ background: #FF6F00 !important; }
.material-page.amber .bg-a100{ background: #FFE57F !important; }
.material-page.amber .bg-a200{ background: #FFD740 !important; }
.material-page.amber .bg-a300{ background: #FFC400 !important; }
.material-page.amber .bg-a400{ background: #FFAB00 !important; }
.material-page.amber .nav-sidebar > .active > a, .material-page.amber .nav-sidebar > .active > a:hover, .material-page.amber .nav-sidebar > .active > a:focus { color: #fff; background-color: #FFC107; }
.material-page.amber .nav-pills>li.active>a, .material-page.amber .nav-pills>li.active>a:hover, .material-page.amber .nav-pills>li.active>a:focus{ color: #fff; background-color: #FFC107; }
.material-page.amber .nav-pills>li>a:hover{ color:#FFC107; background-color: white; }
.material-page.amber .tile-inner:not(.plain){ background-color: #FFD54F; color:#333;}

/* * * AMBER TEXT * * */
.material-page.amber .text-50 { color: #FFD600 !important; }
.material-page.amber .text-100{ color: #FFECB3 !important; }
.material-page.amber .text-200{ color: #FFE082 !important; }
.material-page.amber .text-300{ color: #FFD54F !important; }
.material-page.amber .text-400{ color: #FFCA28 !important; }
.material-page.amber .text-500{ color: #FFC107 !important; }
.material-page.amber .text-600{ color: #FFB300 !important; }
.material-page.amber .text-700{ color: #FFA000 !important; }
.material-page.amber .text-800{ color: #FF8F00 !important; }
.material-page.amber .text-900{ color: #FF6F00 !important; }
.material-page.amber .text-a100{ background: #FFE57F !important; }
.material-page.amber .text-a200{ background: #FFD740 !important; }
.material-page.amber .text-a300{ background: #FFC400 !important; }
.material-page.amber .text-a400{ background: #FFAB00 !important; }
.material-page.amber div.query{color:#FFE082;}


/* * * ORANGE BACKGROUNDS * * */
.material-page.orange .bg-50 { background: #FFF3E0 !important; color:rgba(0,0,0,0.87) } .material-page.orange .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.orange .bg-100{ background: #FFE0B2 !important; color:rgba(0,0,0,0.87) } .material-page.orange .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.orange .bg-200{ background: #FFCC80 !important; color:rgba(0,0,0,0.87) } .material-page.orange .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.orange .bg-300{ background: #FFB74D !important; color:rgba(0,0,0,0.87) } .material-page.orange .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.orange .bg-400{ background: #FFA726 !important; color:rgba(0,0,0,0.87) } .material-page.orange .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.orange .bg-500{ background: #FF9800 !important; }
.material-page.orange .bg-600{ background: #FB8C00 !important; }
.material-page.orange .bg-700{ background: #F57C00 !important; }
.material-page.orange .bg-800{ background: #EF6C00 !important; }
.material-page.orange .bg-900{ background: #E65100 !important; }
.material-page.orange .bg-a100{ background: #FFD180 !important; }
.material-page.orange .bg-a200{ background: #FFAB40 !important; }
.material-page.orange .bg-a300{ background: #FF9100 !important; }
.material-page.orange .bg-a400{ background: #FF6D00 !important; }
.material-page.orange .nav-sidebar > .active > a, .material-page.orange .nav-sidebar > .active > a:hover, .material-page.orange .nav-sidebar > .active > a:focus { color: #fff; background-color: #FF9800; }
.material-page.orange .nav-pills>li.active>a, .material-page.orange .nav-pills>li.active>a:hover, .material-page.orange .nav-pills>li.active>a:focus{ color: #fff; background-color: #FF9800; }
.material-page.orange .nav-pills>li>a:hover{ color:#FF9800; background-color: white; }
.material-page.orange .tile-inner:not(.plain){ background-color: #FFB74D; }

/* * * ORANGE TEXT * * */
.material-page.orange .text-50 { color: #FFF3E0 !important; }
.material-page.orange .text-100{ color: #FFE0B2 !important; }
.material-page.orange .text-200{ color: #FFCC80 !important; }
.material-page.orange .text-300{ color: #FFB74D !important; }
.material-page.orange .text-400{ color: #FFA726 !important; }
.material-page.orange .text-500{ color: #FF9800 !important; }
.material-page.orange .text-600{ color: #FB8C00 !important; }
.material-page.orange .text-700{ color: #F57C00 !important; }
.material-page.orange .text-800{ color: #EF6C00 !important; }
.material-page.orange .text-900{ color: #E65100 !important; }
.material-page.orange .text-a100{ background: #FFD180 !important; }
.material-page.orange .text-a200{ background: #FFAB40 !important; }
.material-page.orange .text-a300{ background: #FF9100 !important; }
.material-page.orange .text-a400{ background: #FF6D00 !important; }
.material-page.orange div.query{color:#FFCC80;}


/* * * DEEP ORANGE BACKGROUNDS * * */
.material-page.deep-orange .bg-50 { background: #FBE9E7 !important; color:rgba(0,0,0,0.87) } .material-page.deep-orange .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.deep-orange .bg-100{ background: #FFCCBC !important; color:rgba(0,0,0,0.87) } .material-page.deep-orange .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.deep-orange .bg-200{ background: #FFAB91 !important; color:rgba(0,0,0,0.87) } .material-page.deep-orange .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.deep-orange .bg-300{ background: #FF8A65 !important; color:rgba(0,0,0,0.87) } .material-page.deep-orange .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.deep-orange .bg-400{ background: #FF7043 !important; color:rgba(0,0,0,0.87) } .material-page.deep-orange .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.deep-orange .bg-500{ background: #FF5722 !important; }
.material-page.deep-orange .bg-600{ background: #F4511E !important; }
.material-page.deep-orange .bg-700{ background: #E64A19 !important; }
.material-page.deep-orange .bg-800{ background: #D84315 !important; }
.material-page.deep-orange .bg-900{ background: #BF360C !important; }
.material-page.deep-orange .bg-a100{ background: #FF9E80 !important; }
.material-page.deep-orange .bg-a200{ background: #FF6E40 !important; }
.material-page.deep-orange .bg-a300{ background: #FF3D00 !important; }
.material-page.deep-orange .bg-a400{ background: #DD2C00 !important; }
.material-page.deep-orange .nav-sidebar > .active > a, .material-page.deep-orange .nav-sidebar > .active > a:hover, .material-page.deep-orange .nav-sidebar > .active > a:focus { color: #fff; background-color: #FF5722; }
.material-page.deep-orange .nav-pills>li.active>a, .material-page.deep-orange .nav-pills>li.active>a:hover, .material-page.deep-orange .nav-pills>li.active>a:focus{ color: #fff; background-color: #FF5722; }
.material-page.deep-orange .nav-pills>li>a:hover{ color:#FF5722; background-color: white; }
.material-page.deep-orange .tile-inner:not(.plain){ background-color: #FFAB91; }

/* * * DEEP ORANGE TEXT * * */
.material-page.deep-orange .text-50 { color: #FBE9E7 !important; }
.material-page.deep-orange .text-100{ color: #FFCCBC !important; }
.material-page.deep-orange .text-200{ color: #FFAB91 !important; }
.material-page.deep-orange .text-300{ color: #FF8A65 !important; }
.material-page.deep-orange .text-400{ color: #FF7043 !important; }
.material-page.deep-orange .text-500{ color: #FF5722 !important; }
.material-page.deep-orange .text-600{ color: #F4511E !important; }
.material-page.deep-orange .text-700{ color: #E64A19 !important; }
.material-page.deep-orange .text-800{ color: #D84315 !important; }
.material-page.deep-orange .text-900{ color: #BF360C !important; }
.material-page.deep-orange .text-a100{ background: #FF9E80 !important; }
.material-page.deep-orange .text-a200{ background: #FF6E40 !important; }
.material-page.deep-orange .text-a300{ background: #FF3D00 !important; }
.material-page.deep-orange .text-a400{ background: #DD2C00 !important; }
.material-page.deep-orange div.query{color:#FFAB91;}


/* * * BROWN BACKGROUNDS * * */
.material-page.brown .bg-50 { background: #EFEBE9 !important; color:rgba(0,0,0,0.87) } .material-page.brown .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.brown .bg-100{ background: #D7CCC8 !important; color:rgba(0,0,0,0.87) } .material-page.brown .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.brown .bg-200{ background: #BCAAA4 !important; color:rgba(0,0,0,0.87) } .material-page.brown .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.brown .bg-300{ background: #A1887F !important; color:rgba(0,0,0,0.87) } .material-page.brown .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.brown .bg-400{ background: #8D6E63 !important; color:rgba(0,0,0,0.87) } .material-page.brown .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.brown .bg-500{ background: #795548 !important; }
.material-page.brown .bg-600{ background: #6D4C41 !important; }
.material-page.brown .bg-700{ background: #5D4037 !important; }
.material-page.brown .bg-800{ background: #4E342E !important; }
.material-page.brown .bg-900{ background: #3E2723 !important; }
.material-page.brown .nav-sidebar > .active > a, .material-page.brown .nav-sidebar > .active > a:hover, .material-page.brown .nav-sidebar > .active > a:focus { color: #fff; background-color: #795548; }
.material-page.brown .nav-pills>li.active>a, .material-page.brown .nav-pills>li.active>a:hover, .material-page.brown .nav-pills>li.active>a:focus{ color: #fff; background-color: #795548; }
.material-page.brown .nav-pills>li>a:hover{ color:#795548; background-color: white; }
.material-page.brown .tile-inner:not(.plain){ background-color: #A1887F; }

/* * * BROWN TEXT * * */
.material-page.brown .text-50 { color: #EFEBE9 !important; }
.material-page.brown .text-100{ color: #D7CCC8 !important; }
.material-page.brown .text-200{ color: #BCAAA4 !important; }
.material-page.brown .text-300{ color: #A1887F !important; }
.material-page.brown .text-400{ color: #8D6E63 !important; }
.material-page.brown .text-500{ color: #795548 !important; }
.material-page.brown .text-600{ color: #6D4C41 !important; }
.material-page.brown .text-700{ color: #5D4037 !important; }
.material-page.brown .text-800{ color: #4E342E !important; }
.material-page.brown .text-900{ color: #3E2723 !important; }
.material-page.brown div.query{color:#BCAAA4;}


/* * * GREY BACKGROUNDS * * */
.material-page.grey .bg-50 { background: #FAFAFA !important; color:rgba(0,0,0,0.87) } .material-page.grey .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.grey .bg-100{ background: #F5F5F5 !important; color:rgba(0,0,0,0.87) } .material-page.grey .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.grey .bg-200{ background: #EEEEEE !important; color:rgba(0,0,0,0.87) } .material-page.grey .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.grey .bg-300{ background: #E0E0E0 !important; color:rgba(0,0,0,0.87) } .material-page.grey .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.grey .bg-400{ background: #BDBDBD !important; color:rgba(0,0,0,0.87) } .material-page.grey .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.grey .bg-500{ background: #9E9E9E !important; }
.material-page.grey .bg-600{ background: #757575 !important; }
.material-page.grey .bg-700{ background: #616161 !important; }
.material-page.grey .bg-800{ background: #424242 !important; }
.material-page.grey .bg-900{ background: #212121 !important; }
.material-page.grey .nav-sidebar > .active > a, .material-page.grey .nav-sidebar > .active > a:hover, .material-page.grey .nav-sidebar > .active > a:focus { color: #fff; background-color: #9E9E9E; }
.material-page.grey .nav-pills>li.active>a, .material-page.grey .nav-pills>li.active>a:hover, .material-page.grey .nav-pills>li.active>a:focus{ color: #fff; background-color: #9E9E9E; }
.material-page.grey .nav-pills>li>a:hover{ color:#9E9E9E; background-color: white; }
.material-page.grey .tile-inner:not(.plain){ background-color: #9E9E9E; }

/* * * GREY TEXT * * */
.material-page.grey .text-50 { color: #FAFAFA !important; }
.material-page.grey .text-100{ color: #F5F5F5 !important; }
.material-page.grey .text-200{ color: #EEEEEE !important; }
.material-page.grey .text-300{ color: #E0E0E0 !important; }
.material-page.grey .text-400{ color: #BDBDBD !important; }
.material-page.grey .text-500{ color: #9E9E9E !important; }
.material-page.grey .text-600{ color: #757575 !important; }
.material-page.grey .text-700{ color: #616161 !important; }
.material-page.grey .text-800{ color: #424242 !important; }
.material-page.grey .text-900{ color: #212121 !important; }
.material-page.grey div.query{color:#EEEEEE;}


/* * * BLUE GREY BACKGROUNDS * * */
.material-page.blue-grey .bg-50 { background: #ECEFF1 !important; color:rgba(0,0,0,0.87) } .material-page.blue-grey .bg-50 * { color:rgba(0,0,0,0.87) }
.material-page.blue-grey .bg-100{ background: #CFD8DC !important; color:rgba(0,0,0,0.87) } .material-page.blue-grey .bg-100 *{ color:rgba(0,0,0,0.87) }
.material-page.blue-grey .bg-200{ background: #B0BEC5 !important; color:rgba(0,0,0,0.87) } .material-page.blue-grey .bg-200 *{ color:rgba(0,0,0,0.87) }
.material-page.blue-grey .bg-300{ background: #90A4AE !important; color:rgba(0,0,0,0.87) } .material-page.blue-grey .bg-300 *{ color:rgba(0,0,0,0.87) }
.material-page.blue-grey .bg-400{ background: #78909C !important; color:rgba(0,0,0,0.87) } .material-page.blue-grey .bg-400 *{ color:rgba(0,0,0,0.87) }
.material-page.blue-grey .bg-500{ background: #607D8B !important; }
.material-page.blue-grey .bg-600{ background: #546E7A !important; }
.material-page.blue-grey .bg-700{ background: #455A64 !important; }
.material-page.blue-grey .bg-800{ background: #37474F !important; }
.material-page.blue-grey .bg-900{ background: #263238 !important; }
.material-page.blue-grey .nav-sidebar > .active > a, .material-page.blue-grey .nav-sidebar > .active > a:hover, .material-page.blue-grey .nav-sidebar > .active > a:focus { color: #fff; background-color: #607D8B; }
.material-page.blue-grey .nav-pills>li.active>a, .material-page.blue-grey .nav-pills>li.active>a:hover, .material-page.blue-grey .nav-pills>li.active>a:focus{ color: #fff; background-color: #607D8B; }
.material-page.blue-grey .nav-pills>li>a:hover{ color:#607D8B; background-color: white; }
.material-page.blue-grey .tile-inner:not(.plain){ background-color: #607D8B; }

/* * * BLUE GREY TEXT * * */
.material-page.blue-grey .text-50 { color: #ECEFF1 !important; }
.material-page.blue-grey .text-100{ color: #CFD8DC !important; }
.material-page.blue-grey .text-200{ color: #B0BEC5 !important; }
.material-page.blue-grey .text-300{ color: #90A4AE !important; }
.material-page.blue-grey .text-400{ color: #78909C !important; }
.material-page.blue-grey .text-500{ color: #607D8B !important; }
.material-page.blue-grey .text-600{ color: #546E7A !important; }
.material-page.blue-grey .text-700{ color: #455A64 !important; }
.material-page.blue-grey .text-800{ color: #37474F !important; }
.material-page.blue-grey .text-900{ color: #263238 !important; }
.material-page.blue-grey div.query{color:#B0BEC5;}


/* * * BLACK BACKGROUNDS * * */
.material-page.black .bg-black { background: #000000 !important; }
/* * * BLACK TEXT * * */
.material-page.black .text-black { color: #000000 !important; }

/* * * WHITE BACKGROUNDS * * */
.material-page.white .bg-white { background: #FFFFFF !important; }
/* * * WHITE TEXT * * */
.material-page.white .text-white { color: #FFFFFF !important; }
